body{
    background-color: grey;
}
#data3{
	width: 39%;
    height: 80%;
    background-color: midnightblue;
    background-repeat: no-repeat;
    float: right;
    margin-right: 500px;
	    box-shadow: 0 0 20px 4px black;
    margin-top: -2%;
	border-radius: 22px;
}

.title{
	position: relative;
    height: 40px;
    padding-top: 17px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 21px;
    color: white;
    border-radius: 4px;
    margin-left: 27%;
    text-align: center;
    margin-top: 7%;
    background: linear-gradient(30deg, purple, gold);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 0, 0, 0.4);
}
table{
	width:450px;
	border: 12px solid cyan;
	border-radius: 18px;
	box-shadow: 0 0 20px 10px black;
}
#abc{
	    background-color: darkslategray;
    box-shadow: inset 0 0 20px black;
    color: navajowhite;
	font-weight: bold;
}
#def{
	background-color: lightslategrey;
    box-shadow: inset 0 0 20px black;
}
#show{
 border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
	width: 50%;
	
}
.t1{
	width: 80%;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
#show:hover{
	cursor: pointer;
    background: #39dc79;
    color: #000;
}